
/* τα πιο κάτω χρησιμοποιούνται ώστε το footer να είναι πάντα κολημένο στο κάτω μέρος της σελίδας */
footer {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 170px;
    
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 170px;
}